<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/proyecto/flask_app/static/css/style.css">
    <title>Inicio</title>
</head>
<body>
        <!-- Navbar content -->
        <nav class="navbar navbar-light bg-light justify-content-between">
        <div class="container">
       
          <a href="/"><img class="logotipo" src="/static/img/jminformatica.jpg" alt="jminformatica" style="width: 150px;"></a>
            
            <form action="/search" method="post"  class="form-inline d-flex gap-2">
              <input class="form-control" name="producto" type="search" placeholder="Buscar Producto" aria-label="Search" style="width: 500px;">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
          
             
             <a href="/" style="text-decoration: none;">Inicio</a>
             <a href="/registro" class="btn btn-primary">Registrar datos de envio y pago</a>
            
        </div>
          
    </nav>
   <div class="container">
    <h1 class="text-primary-emphasis">Carrito de Compras</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Producto</th>
          <th>Precio</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}

        <tr>
          <td><a href="/showproduct/{{producto.id}}"><img src="{{producto.imagen}}" width="80px"></a></td>
          <td>{{producto.producto}}</td>
          <td>Gs: {{producto.precio}}</td>
          <td><a href="/carrito_delete/{{producto.id}}">Eliminar</a></td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    <h3>Total: Gs. {{total}}</h3>
  </div>
   
</body>
</html>