<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/proyecto/flask_app/static/css/style.css">
    <title>Inicio</title>
</head>
<body>
        <!-- Navbar content -->
        <nav class="navbar navbar-light bg-light justify-content-between">
        <div class="container">
       
          <a href="/"><img class="logotipo" src="/static/img/jminformatica.jpg" alt="jminformatica" style="width: 150px;"></a>
            
            <form action="/search" method="post"  class="form-inline d-flex gap-2">
              <input class="form-control" name="producto" type="search" placeholder="Buscar Producto" aria-label="Search" style="width: 500px;">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
          
             
             <a href="/" style="text-decoration: none;">Inicio</a>
        
             <a href="/carrito" class="btn btn-primary"><img src="/static/img/carrito.png" alt="carrito" style="width: 30px;">Carrito</a>
            
        </div>
          
    </nav>
    <section class="content container">
        {% for producto in productos %}
        <div class="card card-solid">
        <div class="card-body">
        <div class="row">
        <div class="col-12 col-sm-6">
   <!--  producto -->
        <div class="col-12">

        </div>
        <div class="col-12 product-image-thumbs">
        <div class="product-image-thumb active" style="width: 400px; height: 400px; display: grid; place-items: center;"><img src="{{producto.imagen}}" alt="Product Image" width="350px"></div>

        </div>
        </div>
        <div class="col-12 col-sm-6">
        <h3 class="my-3">{{producto.producto}}</h3>
        <p style="text-align: justify;">{{producto.descripcion}}</p>
        <hr>
        
        <div class="bg-gray py-2 px-3 mt-4">
        <h2 class="mb-0">
        Gs. {{producto.precio}}
        </h2>
        
        </div>
        <form action="/carrito_add" method="post">
        <div class="mt-4">
          <div class="quantity mb-3" >
            <h6>Ingrese cantidad deseada</h6>
            <input type="hidden" name="id" value="{{producto.id}}">
            <input type="number" name="cantidad" min="1" step="1" value="1">
          </div>
        <button type="submit">
        <div class="btn btn-primary btn-lg btn-flat">
        <i class="fas fa-cart-plus fa-lg mr-2"><img src="/static/img/carrito.png" alt="carrito" style="width: 30px;"></i>
        Agregar al carrito
        </div>
        </div>
      </button>
    </form>
        {% endfor %}
        </section> 

   
   
</body>
</html>